* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;

  background-image: url("src/img/78c4e47ae055f4de25eb04640d5c22fe.jpg");

  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.container {
  width: min(100% - 40px, 1280px);
  min-height: 100vh;

  background-image: url("src/img/puzzle-wallpaper-cole-and-son.jpg");
  background-repeat: repeat;
  background-size: cover;

  margin-inline: auto;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 20px;

  font-size: 36px;
  font-weight: 700;
}

.search {
  margin-bottom: 20px;
}

.search__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.search__group--input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 10px;
}

.search__label-input {
  margin-bottom: 5px;
}

.search__input {
  display: block;

  width: 100%;
  max-width: 400px;
  padding: 10px 15px;

  border: 1px solid #cccccc;
  border-radius: 5px;
}

.search--group--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
}

.search__label-checkbox {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  font-size: 16px;
}

.movies {
  display: grid;

  padding: 20px;

  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.movie-image {
  width: 100%;

  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 556px) {
  .container {
  }
  .movies {
    padding: 60px;

    gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(387px, 1fr));
  }
  .title {
    font-size: 60px;
    font-weight: 700;
  }
  .search__input {
    width: 100%;
    max-width: 600px;
    padding: 30px 30px;

    border-radius: 10px;

    font-size: 24px;
  }
  .search__checkbox {
    width: 20px;
    height: 20px;
  }
  .search__label-checkbox {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .container {
    width: calc(100% - 150px);
  }
  .movies {
    padding: 60px;

    gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(387px, 1fr));
  }
  .title {
    font-size: 60px;
    font-weight: 700;
  }
  .search__input {
    width: 100%;
    max-width: 600px;
    padding: 30px 30px;

    border-radius: 10px;

    font-size: 24px;
  }
  .search__checkbox {
    width: 20px;
    height: 20px;
  }
  .search__label-checkbox {
    font-size: 20px;
  }
}
